.panel-group {
    margin: .5em 0;
    border: black solid 1px;
    padding: 1em;

}

.metricSectionSelectorContainer{
    border-bottom: 1px solid #d1d1d1;
}

.toggle_button {
    float: right;
    height: 32px;
    width: 32px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    box-shadow: none;
    border: 0px;
}


.toggle_button_open {
    background-image: url(../img/results/expand-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.toggle_button_closed {
    background-image: url(../img/results/expand-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.loaded_indicator {
    height: 32px;
    width: 32px;
    float: right;
    display: inline-block;
    margin: 0 15px;
}

.download_button {
    float: right;
    color: rgb(0,0,0);
    background-color: transparent;
    box-shadow: none;
    border: 0px;
    visibility: hidden;
    margin: 0 2em;
}
.download_button:hover{
    color: #000000 !important;
}

.panel-collapse{
    border-top: 1px solid #d1d1d1;
    margin-top: 15px;
    padding-top: 15px;
}

.metricDescription {
    margin: 0 auto;
    text-align: center
}

.metricDescriptionColTags {
    text-align: center;
}

.metricDescriptionColHeader {
    text-align: center;
}

.credit_section {
    font-size: .5em;
}

.metric-data {
    display: inline;
    font-size: 0.5em;
    white-space: nowrap;
}

.metric-data:before {
    content: attr(data-before);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bold;

}

.metric-data:not(:first-child) {
    margin-left: 1.5em;
}

.indicator {
    max-height: 100%;
    max-width: 100%;
}

.svg-chart {
    width: 100%;
}

.paperAreaSelector{
    display: inline-block;
    margin-left: 1em;
}

.textVarSelectContainer{
    display: inline-block;
    float: right;
}

.textVarSelect{
    margin-left: .5em;
}

.btn-rclc{
    font-size: .7em;
    margin-left: 1em;
    margin-right: 1em;
    float: right;
}

.tooltip-cust{
    margin-bottom: .5em;
    padding-bottom: .5em;
    font-size: .5em;
}
