{% extends 'index.html' %}
{% block title %}Paperupload{% endblock %}

{% block body %}

    {% load static %}

    <link href='{% static "css/upload.css" %}' rel="stylesheet">

    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="page-header">Upload</h3>

            <div class="row">
                <div class="col-lg-12">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <div id="upload-container">
                        <span align="center" class="btn btn-success" id="upload-span">
                            <input accept=".json" type="file" id="upload" name="JsonPaper" multiple required>
                        </span>
                    </div>

                    <div class="button-container">
                        <button type="reset" class="btn-dh-white bottom-button">
                            <i class="fas fa-trash"></i>
                            <span>Auswahl zurücksetzen</span>
                        </button>

                        <button type="submit" class="btn-dh-white bottom-button">
                            <i class="fas fa-file-upload"></i>
                            <span>Upload starten</span>
                        </button>

                    </div>

                </div>
            </div>
        </form>
    </div>
{% endblock %}