{% extends 'index.html' %}
{% block title %}Paperupload{% endblock %}

{% block body %}

    <div class="container">
    <h3><span id="validPaperNum">{{ validPaper|length }} </span> Valide Paper:</h3>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        Details
    </button></div>
    </br>
    <div class="collapse" id="collapseExample">
        <table id="table" class="table table-bordered">
            <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for paper in validPaper %}
                <tr>
                    <td><span><i class="glyphicon glyphicon-ok-circle"></i></span></td>
                    <td>{{ paper.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    {% if invalidPaper %}
        <div id="invalidPaper">
            <a href="{% url "completeUpload" %}" class="btn btn-primary" role="button">Paper hochladen ohne fehlerhafte Paper</a>
            <h3><span id="invalidPaperNum">{{ invalidPaper|length }}</span> Fehlerhafte Paper:</h3>
            {% for paper in invalidPaper %}
                <div class="jumbotron">
                    <form id="submitSingelPaper" action="{% url "improvedPaper" %}" method="POST">
                        {% csrf_token %}
                        <label for="filename">Filename:</label>
                        <input value="{{ paper.filename }}" class="form-control" id="filename" readonly>
                        <label for="errorSektion">Fehler:</label>
                        <div id="errorSektion" class="alert alert-danger">
                            {% for error in paper.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                        <label for="file">File:</label>
                        <textarea class="form-control" rows="15" id="file">
                    {{ paper.data }}
                </textarea>
                        <button class="btn btn-default" type="button" onclick="prettyPrint()">prettify</button>
                        <button class="btn btn-default" type="submit" id="submitSingelPaperButton">Paper zum Korpus hinzufügen
                        </button>
                    </form>
                </div>
            {% endfor %}

        </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 id="modaltitel" class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <p id="modaltext"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>

                </div>
            </div>
    {% else %}
        <a href="{% url "completeUpload" %}" class="btn btn-primary" role="button">Paper hochladen</a>
    {% endif %}
    <!--dialog id="paperFail">Fail</dialog>-->

    </div>

    <script>

        $('#submitSingelPaper').on('submit', function (event) {
            event.preventDefault();
            create_post(event.target);
        });

        function prettyPrint() {
            let obj = JSON.parse(document.getElementById('file').value);
            let pretty = JSON.stringify(obj, undefined, 4);
            document.getElementById('file').value = pretty;
        }

        function create_post(form) {
            console.log("create post is working!");
            $.ajax({
                url: "{% url "improvedPaper" %}",
                type: "POST", // http method
                data: {
                    filename: $(form).find('#filename').val(),
                    file: $(form).find('#file').val()
                },

                success: function (json) {
                    console.log("response:");
                    console.log(json['valid']);
                    if (json['valid'] == 'true') {
                        console.log("File ist nun zum Upload bereit!");
                        showModal("Paper wurde erfolgreich zum Korpus hinzugefügt!", 'filename etc');
                        $(form).parent().remove();
                        $('#table tr:last').after('<tr> <td>done</td><td>' + json['filename'] + '</td></tr>');
                        console.log(parseInt($('#invalidPaperNum').html()) - 1)
                        $('#invalidPaperNum').html(parseInt($('#invalidPaperNum').html()) - 1);
                        $('#validPaperNum').html(parseInt($('#validPaperNum').html()) + 1);
                        if ($('#invalidPaperNum').html() == 0) {
                            $('#invalidPaper').remove();
                            //
                            $('hr').after('<a href="{% url "completeUpload" %}" class="btn btn-primary" role="button">Paper hochladen</a>')
                        }
                        //invalidPaper -1; vaild+1; invalidPaper==0 dann weg!
                    } else {
                        showModal("Paper fehlerhaft! Bitte bessern sie folgende Fehler aus, um einen fehlerfreien Upload zu ermöglichen. Wenn Sie das Paper nicht zum Korpus hinzufügen wollen, drücken Sie 'Paper hochladen ohne fehlerhafte Paper'", json['errors'][0]);
                        console.log("file again not valid!");
                        $(form).find('#errorSektion').html('');
                        json['errors'].forEach(function (element) {
                            $(form).find('#errorSektion').append('<li>' + element + '</li>')
                        });

                    }
                },

                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        function showModal(titel, text) {
            $('#myModal').modal('show');
            $('#modaltitel').html(titel);
            $('#modaltext').html(text);
        }
    </script>
{% endblock %}