{% extends 'index.html' %}
{% block body %}


    {% load static %}

    <link href='{% static "css/processPaper.css" %}' rel="stylesheet">

    <h3 class="page-header">Dokumente vorberechnen</h3>

    <div class="site-text-container">
        <p class="info-text">Es befinden sich <b>{{ numberPaper }}</b> Einträge in der Datenbank.</p>
        <p class="info-text"> Beim Vorberechnen wird aus dem Text des Papers ein
            stopwortgefilteter Text und ein gestemmter Text, sowie einige Metriken vorberechnet.</p>
        <p class="info-text"> Der Vorhang kann einige Zeit dauern... </p>

        <div class="spinner-border info-text hidden" role="status">
            <span class="sr-only">Loading...</span>
        </div>

        <div>
            <p id='resultText' class="info-text hidden">Paper erfolgreich aufbreitet.</p>
        </div>

        <div id="buttonContainer">
            <button id="startCalculationButton" class="btn-dh-white">Paper vorbrechnen starten!</button>
        </div>
    </div>

    <script>
        $("button").click(function () {
            $('.spinner-border').show();
            $.ajax({
                url: "{% url 'processPaper' %}", success: function (result) {
                    console.log(result);
                    $('.spinner-border').hide();
                    $('#resultText').show();
                }
            });
        });
    </script>
{% endblock %}